<% 

    let channelViewModel = it.channelViewModel 
    let hostname = it.hostname
    let baseURL = it.baseURL
    let baseDir = it.baseDir
    let marketplaces = it.marketplaces
    let externalLinks = it.externalLinks
    let routablePages = it.routablePages
    let attributeReport = it.attributeReport
    let base64Version = it.base64Version
    let channelId = it.channelId
    let showMintPage = it.showMintPage
    let itemViewModel = it.itemViewModel

    
    const link = (href) => {
        return `${baseURL + href}`
    }    

    let logo = link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`)

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
        return it.baseViewModel.he.encode(excerpt.toString())
    }

    const marketplaceAssetLink = (marketplace, tokenId) => {

        let link = marketplace.assetLink 
  
        //Replace contract if we find it 
        if (channelViewModel.channel.contractAddress) {
          link = link.replace("{contractId}", channelViewModel.channel.contractAddress)
        }
  
        if (tokenId) {
          link = link.replace("{tokenId}", tokenId)
  
        }
  
        return link
    }
    
    const truncateEthAddress = (address) => {
        // Captures 0x + 4 characters, then the last 4 characters.
        const truncateRegex = /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/
        const match = address.match(truncateRegex)
        if (!match) return address
        return `${match[1]}…${match[2]}`
    }


%>



<div class="block block-strong inset col-100 no-margin-bottom">
    <div class="breadcrumbs ">
      <div class="breadcrumbs-item">
        <a href="<%=baseURL%>index.html" class="link">
          Home
        </a>
      </div>    
      <div class="breadcrumbs-separator"></div>
      <div class="breadcrumbs-item">
        <a href="<%=baseURL%>explore.html" class="link">
          Explore
        </a>
      </div>     
      <div class="breadcrumbs-separator"></div>
      <div class="breadcrumbs-item breadcrumbs-item-active">
        <%= itemViewModel.item.title ? itemViewModel.item.title : `#${itemViewModel.item.tokenId}` %> 
      </div> 
    </div>
</div>

<div class="row">

    <div class="col-100 large-75">

        <div class="block animation-card col-100">

            <div class="animation-content <%= itemViewModel.item.coverImageAsAnimation ? 'animation-image' : ''%>">

                <% if (itemViewModel.item.coverImageAsAnimation) { %>
                    <img src="<%= link(`backup/export/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`) %>"  />
                <% } else { %>
                    <%~itemViewModel.animationContentHTML %>
                <% } %>

            </div>


            <div class="row">

                <a class="button button-outline back-token-button margin-bottom col-50 color-gray" href="<%= !itemViewModel.item.previous ? link(`index.html`) : link(`t/${itemViewModel.item.previous.tokenId}`) %>" data-transition="none">
                    <i class="icon f7-icons color-blue">arrow_left</i>
                </a>


                <% if (itemViewModel.item.next) { %>
                    <a class="button button-fill continue-button margin-bottom col-50" href="<%= link(`t/${itemViewModel.item.next.tokenId}`) %>" data-transition="none">
                        Continue <i class="f7-icons">arrow_right</i>
                    </a>
                <% } %>
            </div>


        </div> 

        <% if (itemViewModel.channel.contractAddress) { %>
            <nft-info id="<%= itemViewModel.item.tokenId %>" 
                      baseurl="<%= baseURL %>" 
                      contract="<%= itemViewModel.channel.contractAddress %>">
            </nft-info>
        <% } %>



        <% 
        if (marketplaces?.length > 0) {
        %>
            <div class="card">
                <div class="card-header">
                    View on Marketplaces
                </div>
                <div class="card-content">
                    <div class="list simple-list">
                        <ul>
                        
                        <% 
                            for (let marketplace of marketplaces) { 
                        %>  
                            <li><a href="<%= marketplaceAssetLink(marketplace, itemViewModel.item.tokenId) %>" class="external"><%= marketplace.name %></a></li>     
                        <%
                            }
                        %>
    
                        </ul>
                    </div>
                </div>
            </div>
        <%
            }
        %>


    </div>

    <div class="col-100 large-25 token-sidebar">
        
        <div class="card" >
            <form class="card-content card-content-padding" id="token_navigator_form">
              <input type="number" class="goto-input" style="width: 60px; border: 1px solid #cccccc; display: inline-block;" value="<%= itemViewModel?.item?.tokenId %>" min="0"  />
              <span class="paging-label">Enter Token ID</span>
              <button class="goto-button button button-small button-fill">Go</button>
            </form>
        </div>

        <% if (itemViewModel.item.previous || itemViewModel.item.next) { %>

            <div class="card large-only">
              <div class="card-content card-content-padding">
                <div class="segmented">

                  <% if (itemViewModel.item.previous) { %>
                    <a class="button button-outline" href="<%= !itemViewModel.item.previous ? link(`index.html`) : link(`t/${itemViewModel.item.previous.tokenId}`) %>" data-transition="none">
                        <i class="icon f7-icons">arrow_left</i>
                      </a>
                  <% } else { %>
                    <a class="button button-outline" href="#"></a>
                  <% } %>


                  <% if (itemViewModel.item.next) { %>
                    <a class="button button-outline" href="<%= link(`t/${itemViewModel.item.next.tokenId}`) %>" data-transition="none">
                        <i class="f7-icons">arrow_right</i>
                      </a>
                  <% } else { %>
                    <a class="button button-outline" href="#"></a>
                  <% } %>

                </div>
              </div>
            </div>

        <% } %>









        <div class="card">
            
            <div class="card-header">
                Attributes
            </div>

            <div class="card-content data-table">

                <% itemViewModel.attributeSelections?.map( (as)=> { %>

                    <% if (as.attributeTotal?.categoryPercent) { %>
                        <div class="button-outline attribute-value">
                            <div class="trait-type"><%= as.traitType %></div>
                            <div class="value"><%= as.value %></div>
                            <div class="category-percent"><%= as.attributeTotal?.categoryPercent  %> have this trait</div>
                        </div>                                                
                    <% } %>


                <% }) %>

            </div>

        </div>





        <% if (!itemViewModel.item.coverImageAsAnimation) { %>
            <div class="card">
                <div class="card-header">Cover Image</div>
                <div class="card-content">
                    <img src="<%= link(`backup/export/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`) %>" class="cover-image-preview" />
                </div>
            </div>
        <% } %>



    </div>

</div>