<% 
    let channelViewModel=it.baseViewModel.channelViewModel 
    let hostname=it.baseViewModel.hostname 
    let baseURL=it.baseViewModel.baseURL 
    let marketplaces=it.baseViewModel.marketplaces 
    let externalLinks=it.baseViewModel.externalLinks 
    let routablePages=it.baseViewModel.routablePages 
    let attributeReport=it.baseViewModel.attributeReport 
    let base64Version=it.baseViewModel.base64Version 
    let channelId=it.baseViewModel.channelId 
    let showMintPage=it.baseViewModel.showMintPage 
    let logo = it.baseViewModel.logo

    let showActivityPage=it.baseViewModel.showActivityPage 
    
    const link=(href)=> {
        return `${baseURL + href}`
    }

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }

    const escapeExcerpt = (excerpt) => {
        excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
        return it.baseViewModel.he.encode(excerpt.toString())
    }

    let coverImageLink = channelViewModel.coverImage ? absoluteLink(`backup/${channelViewModel.coverImage.generated ? 'generated' : 'export'}/images/${channelViewModel.coverImage._id}.${channelViewModel.coverImage.generated ? 'png' : 'jpg'}`)  : ''

%>


<!DOCTYPE html>
<html lang="en">

<head>
    
    <%~ include("headStart", {baseURL: baseURL}) %>


    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>

    <title>
        User Activity for <%=channelViewModel.channel.title%>
    </title>

    <%~ 
      include("_meta_tags", {
        title: `User Activity for ${channelViewModel.channel.title}`,
        url: 'u/activity',
        imageUrl: coverImageLink,
        descriptionHTML: `User Activity for ${channelViewModel.channel.title}`,
        hostname: hostname,
        baseURL: baseURL,
        excerptHtml: it.baseViewModel.excerptHtml,
        he: it.baseViewModel.he
      }) 
    %>



    <%~ it.baseViewModel.headEndContents %>

</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="user-activity">

                <nav-bar 
                    logo="${logo}" 
                    library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
                    large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
                    title="User" 
                    active="User" 
                    show_mint_page="<%=showMintPage%>"
                    show_activity_page="<%=showActivityPage%>"
                    breadcrumbs="${breadcrumbs}"
                >
                </nav-bar>

                <div class="page-content">

                    <div class="fixed-width-content center">

                        <div class="hidden-on-load">

                            <div class="block-title block-title-large">Account Details</div>
                            <div class="block-header">
                                ${address}
                            </div>

                            <div class="block">

                                <div class="user-info">

                                    <div class="row">
                                        <div>Etherscan</div>
                                        <div >
                                            <a href="https://etherscan.io/address/${address}" class="item-link external">${address ? walletService.truncateEthAddress(address) : ' '}</a>
                                        </div>
                                    </div>
                            
                                    ${tokenOwner?.ensName ? $h`
                                        <div class="row">
                                            <div>ENS Name</div>
                                            <div>${tokenOwner?.ensName}</div>
                                        </div>  
                                    ` : $h` `}
                            
                                    <div class="row">
                                        <div>Tokens Owned</div>
                                        <div><strong>${tokenOwner?.count ? tokenOwner.count : 0}</strong></div>
                                    </div>

                                    <div class="row">
                                        <div>Transactions</div>
                                        <div><strong>${tokenOwner?.transactionCount}</strong></div>
                                    </div>

                            
                                    <div class="row">
                                        <div>Rank</div>
                                        <div><strong>#${tokenOwner?.rank}</strong> (#${tokenOwner?.overallRank} overall)</div>
                                    </div>


                                </div>

                            </div>


                            <div class="block">
                                <p class="segmented">
                                    <a class="button button-outline"
                                        href="<%= baseURL %>u/?address=${address}">Owned</a>
                                    <a class="button button-outline button-active" href="#">Activity</a>
                                </p>
                            </div>

                            ${transactionsViewModel?.transactions?.length > 0 ? $h`
                
                                <div class="block-title block-title-medium">
                                    <div class="last-updated">Last updated: ${moment(transactionsViewModel.lastUpdated).fromNow()}</div>
                                    Activity
                                </div>
                                <transaction-row transactions="${transactionsViewModel}" items="${transactionsViewModel.rowItemViewModels}"></transaction-row>
                         
                                <div class="block split-row-both">
                                    <div>
                                        ${previousPage ? $h`
                                            <a href="${baseURI()}u/activity?page=${previousPage}&address=${address}" class="button button-outline color-gray">Previous</a>
                                            ` : $h` `}
                                    </div>
                                    <div>
                                        ${nextPage ? $h`
                                            <a href="${baseURI()}u/activity?page=${nextPage}&address=${address}" class="button button-fill">Next</a>
                                            ` : $h` `}
                                    </div>
                            
                                </div>

    
                            ` : $h`<span />`}

                        </div>

                        
                        <div class="hide-on-pageinit">

                            <div class="card skeleton-text">
                                <div class="card-header">Activity</div>
                                <div class="card-content card-content-padding data-table">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                                    lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                                </div>

                            </div>

                        </div>


                        <%~ include("footer", {baseURL: baseURL}) %>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>

    <script type="module" id="page-init-scripts">




        const init = (props, { $, $f7, $h, $on, $update }) => {

            let channelWebService = globalThis.container.get("ChannelWebService")            
            let baseURI = globalThis.container.get("baseURI")
            let hostname = globalThis.container.get("hostname")
            
            let transactionWebService = globalThis.container.get("TransactionWebService")
            let tokenOwnerService = globalThis.container.get("TokenOwnerService")
            let walletService = globalThis.container.get("WalletService")

            let tokenOwner
            let transactionsViewModel

            let display = 25
            let address 
            let page

            let nextPage
            let previousPage

            let logo = JSON.parse(`<%~ JSON.stringify(logo ? logo : {})  %>`)

            let breadcrumbs = [{
                text: JSON.parse(`<%~ JSON.stringify(channelViewModel.channel.symbol)  %>`),
                path: baseURI()
            }, {
                text: "Leaderboard",
                path: `${baseURI()}leaderboard`
            }]
            

            const loadActivity = async () => {

                loading = true

                try  {

                    nextPage = undefined
                    previousPage = undefined

                    if ($f7.views.main.router.currentRoute?.query?.address) {
                        address = $f7.views.main.router.currentRoute?.query?.address
                    }

                    if ($f7.views.main.router.currentRoute?.query?.page) {
                        page = $f7.views.main.router.currentRoute?.query?.page

                        if (page) {
                            page = parseInt(page)
                        } 
                    }

                    if (!page) {
                        page = 1
                    }




                    tokenOwner = await tokenOwnerService.get(address)

                    transactionsViewModel = await transactionWebService.listByAddress(address, page)


                    breadcrumbs.push({
                        text: address,
                        path: `${baseURI()}u?address=${address}`
                    })

                    breadcrumbs.push({
                        text: `Page ${page}`
                    })

                    if (page > 1) {
                        previousPage = page - 1
                    } 

                    if (page < tokenOwner.totalTransactionPages) {
                        nextPage = page + 1
                    }



                } catch(ex) { console.log(ex) }

                $('.hidden-on-load').removeClass('hidden-on-load')


                loading = false

                await $update()


            }

            $on('pageInit', async () => {

                await channelWebService.loadChannel(
                        "<%= channelViewModel.channel._id %>",
                        '<%= baseURL %>',
                        '<%= hostname %>'
                )

                await $update()

                await loadActivity()

                $('.hide-on-pageinit').hide()

                await $update()

            })

            $on('pageReinit', async () => {


                await channelWebService.loadChannel(
                        "<%= channelViewModel.channel._id %>",
                        '<%= baseURL %>',
                        '<%= hostname %>'
                )

                await $update()


                await loadActivity()

                //Dispatch event so we can refresh list
                let ev = new CustomEvent('transactions-updated')
                ev.transactionsViewModel = transactionsViewModel
                document.dispatchEvent(ev)

                $('.hide-on-pageinit').hide()

            })

            <%~ 
                include("_meta_tags_js", {
                    title: `User Activity for ${channelViewModel.channel.title}`,
                    url: 'u/activity',
                    imageUrl: coverImageLink,
                    descriptionHTML: `User Activity for ${channelViewModel.channel.title}`,
                    hostname: hostname,
                    baseURL: baseURL,
                    excerptHtml: it.baseViewModel.excerptHtml,
                    he: it.baseViewModel.he
                }) 
            %>

            document.querySelector('title').innerHTML = "User Activity <%=channelViewModel.channel.title%>"

            $f7.preloader.hide()

            return $render

        }


    </script>

    <%~ 
        include("_init", {
            hostname: hostname,
            baseURL: baseURL,
            libraryURL: it.baseViewModel.libraryURL,
            routablePages: routablePages,
            base64Version: base64Version,
            channelId: channelId
        }) 
    %>

</body>

</html>