<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let baseDir = it.baseViewModel.baseDir
    let showActivityPage = it.baseViewModel.showActivityPage

    const link = (href) => {
        return `${baseURL + href}`
    }   

    let logo = link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`)

    const absoluteLink = (href) => {
      return `${hostname + baseURL + href}`
    }   
    
    const escapeExcerpt = (excerpt) => {
      excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
      return it.baseViewModel.he.encode(excerpt.toString())
    }

    const marketplaceLink = (marketplace) => {

      let link = marketplace.link 

      //Replace contract if we find it 
      if (channelViewModel.channel.contractAddress) {
        link = link.replace("{contractId}", channelViewModel.channel.contractAddress)
      }

      return link
    }


%>

<!DOCTYPE html>
<html lang="en">

  <head>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
      <%= it.title %>
    </title>

    <meta property="og:title" content="<%=channelViewModel.channel.title%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= link(`index.html`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`index.html`) %>" />
    <meta property="twitter:title" content="<%=channelViewModel.channel.title%>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%~ it.baseViewModel.headContents %>
    

  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <div class="page" data-name="home">

          <nav-bar
            logo="<%=logo%>"
            title="<%=channelViewModel.channel.title%>"
            show_mint_page="<%=showMintPage%>"
            show_activity_page="<%=showActivityPage%>"
          >
          </nav-bar>

          <token-toolbar
            token_id="0"
            item_count="<%= channelViewModel.channel.itemCount %>" 
          >
          </token-toolbar>

          <!-- <% if (it.firstPost.item) { %>
            <div class="fab fab-right-center small-only">
                <a href="<%= link(`t/${it.firstPost.item.tokenId}`) %>" data-transition="none">
                    <i class="icon f7-icons color-blue">arrow_right</i>
                </a>
            </div>
          <% } %> -->



          <div class="page-content">

            <div class="fixed-width-content center">


              <div class="card channel-card-show">

                <div class="card-header banner" id="banner" <% if(channelViewModel?.channel.coverBannerId) { %>
                  style="background-image: url('<%= link(`backup/export/images/${channelViewModel.channel.coverBannerId}.jpg`) %>')"
                    <% } %>
                      >
  
                      <a href="<%= link('index.html') %>">
                        <% if (channelViewModel?.channel.coverImageId) { %>
                          <img src="<%= link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" alt="Primary avatar" class="avatar" />
                        <% } else { %>
                          <i class="f7-icons avatar">photo</i>
                        <% } %>
                      </a>
  
                </div>
  
                <div class="card-content card-content-padding">
  
                  <div class="title">
                    <%= channelViewModel.channel.title %>
                  </div>
  
                  <% if(channelViewModel?.authorDisplayName) { %>
                    <div class="name">
                      By <a href="https://etherscan.io/address/<%=channelViewModel?.author._id%>" class="external">
                        <%= channelViewModel?.authorDisplayName %>
                      </a>
                    </div>
                  <% } %>
  
                  <div class="description" id="channel-show-description-<%=channelViewModel.channel._id%>">
                    <%~ channelViewModel.channel?.descriptionHTML %>
                  </div>
  
  
                  <div class="start-buttons">
                    <a href="<%= link(`t/${it.firstPost.item.tokenId}`) %>" class="button button-fill text-color-white ready-button" data-transition="f7-cover">Start</a>
                  </div>
  
  
                </div>
  
              </div>
  
              <div class="hidden-on-load">
  
                <div class="block-title block-title-medium">Overall Stats</div>
                <div class="block block-strong inset stats">
  
                  <div class="row">
                    <div class="col-100 large-33 margin-bottom">
                      Average Sale<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.totals?.averageEthValue ? salesReport?.totals?.averageEthValue : 0)} ETH (${transactionWebService.abbreviateDollars(salesReport?.totals?.averageUsdValue ? salesReport?.totals?.averageUsdValue : 0, 2)})</strong>
                    </div>
                    <div class="col-100 large-33 margin-bottom">
                      Number of Sales (Lifetime)<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.totals?.events ? salesReport?.totals?.events : 0)}</strong>
                    </div>
                    <div class="col-100 large-33 margin-bottom">
                      Total Value of All Sales (Lifetime)<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.totals?.ethValue ? salesReport?.totals?.ethValue : 0)} ETH (${transactionWebService.abbreviateDollars(salesReport?.totals?.usdValue ? salesReport?.totals?.usdValue : 0, 2)})</strong>
                    </div>
                  </div>
  
                  <div class="row margin-top">
                    <div class="col-100 large-33 margin-bottom">
                      Value of Sales (24 Hours)<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.dayTotals?.ethValue ? salesReport?.dayTotals?.ethValue : 0)} ETH (${transactionWebService.abbreviateDollars(salesReport?.dayTotals?.usdValue ? salesReport?.dayTotals?.usdValue?.toFixed(2) : 0, 2)})</strong>
                    </div>
                    <div class="col-100 large-33 margin-bottom">
                      Value of Sales (Month)<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.monthTotals?.ethValue ? salesReport?.monthTotals?.ethValue : 0)} ETH (${transactionWebService.abbreviateDollars(salesReport?.monthTotals?.usdValue ? salesReport?.monthTotals?.usdValue?.toFixed(2) : 0, 2)})</strong>
                    </div>
                    <div class="col-100 large-33 margin-bottom">
                      Value of Sales (Year)<br />
                      <strong>${new Intl.NumberFormat('en-US').format(salesReport?.yearTotals?.ethValue ? salesReport?.yearTotals?.ethValue : 0)} ETH (${transactionWebService.abbreviateDollars(salesReport?.yearTotals?.usdValue ? salesReport?.yearTotals?.usdValue?.toFixed(2) : 0, 2)})</strong>
                    </div>
                  </div>
  
                  <div class="row margin-top">
                    <div class="col-100 large-50">
                      <a class="button button-outline" href="${link('leaderboard')}">Top Owners</a>
                    </div>
                    <div class="col-100 large-50">
                      <a class="button button-outline" href="${link('attributes')}">All Attributes</a>
                    </div>
                  </div>

                </div>


                ${largestSales?.length > 0 ? $h`
                  <div class="block-title block-title-medium">Largest Sales</div>
                  <div class="block block-strong inset largest-sales">
                    
                    <div class="row">
                      ${largestSales?.map( (sale, index) => $h`
                        <div class="col-50 large-20 margin-bottom">

                          <div class="rank">#${index+1}</div>

                          <div class="square">
                            <a href="${link(`t/${sale.item.tokenId}`)}" class="item-link">
                              <img src="${link(`backup/export/images/${sale.item.coverImageId}.${sale.item.coverImageGenerated ? 'svg' : 'jpg'}`)}" alt="${sale.item.tokenId}" height="125" width="125"/>
                            </a>
                          </div>

                          <div class="sale-info margin-top">
                            <a href="${link(`t/${sale.item.tokenId}`)}" class="item-link">${sale.item.title}</a><br />
                            ${new Intl.NumberFormat('en-US').format(sale.sale.ethValue)} ETH (${transactionWebService.abbreviateDollars(sale.sale.usdValue, 2)})
                            <div class="date">${moment(sale.sale.date).format('LL')}</div>
                          </div>

                        </div>
                      `)}
                    </div>

                    <div class="block margin-top margin-bottom">
                      <div class="row">
                          <div class="col-50"></div>
                          <div class="col-50">
                            <a href="${link('sales')}" class="button button-fill">View Top 100</a>
                          </div>
                      </div>
                    </div>


                  </div>
                ` : $h` `}






                ${transactionsViewModel?.transactions?.length > 0 ? $h`
  
                  <div class="block-title block-title-medium">
                    <div class="last-updated">Updated: ${moment(transactionsViewModel.lastUpdated).fromNow()}</div>
                    Recent Activity
                  </div>
                  

                  <transaction-row transactions="${transactionsViewModel}" items="${transactionsViewModel.rowItemViewModels}"></transaction-row>

                  <div class="block margin-top margin-bottom">
                    <div class="row">
                        <div class="col-50"></div>
                        <div class="col-50">
                          <a href="${link('activity')}" class="button button-fill">View All</a>
                        </div>
                    </div>
        
                  </div>


            
                ` : $h`<span />`}
  
  
              </div>
              
              <div class="hide-on-pageinit">
  
                <div class="card skeleton-text">
                  <div class="card-header">Overall Stats</div>
                  <div class="card-content card-content-padding data-table">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                      lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                  </div>

                </div>


                <div class="card skeleton-text">
                    <div class="card-header">Recent Activity</div>
                    <div class="card-content card-content-padding data-table">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                        lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit.
                    </div>
  
                </div>
  
              </div>
  



              <!-- <div class="card">
                <div class="card-header">Explore</div>
                <div class="card-content">
                  
                  <div class="list cards-list virtual-list" id="explore-list-index">
                    <ul class="item-flex">
  
                      <% 
                      if (it.firstPageExploreItems?.length > 0) {
                        for (let item of it.firstPageExploreItems) {
                      %>
    
                        <li class="flex-card-small">
                          <a href="<%= link(`t/${item.tokenId}`) %>" class="item-link">
                              <div class="card" >
                                  <div class="card-content">
                                      <div class="square">
                                          <img src="<%= link(`backup/export/images/${item.coverImageId}.${item.coverImageGenerated ? 'svg' : 'jpg'}`) %>" alt="<%= item.tokenId %>" height="125" width="125"/>
                                      </div>
                                  </div>
                              </div>
                          </a>
                        </li>
    
                      <%
                          }
                        }                  
                      %>
  
  
                    </ul>
                  </div>
  
                </div>
                <div class="card-footer"><a href="<%= link('explore.html') %>" class="link">Explore more</a></div>
              </div> 
   -->
  
              <% 
                if (channelViewModel.staticPagesViewModel.index?.length > 0) {
  
                  for (let staticPage of channelViewModel.staticPagesViewModel.index) {
               %>
  
                <div class="card static-page-card">   
                  <div class="card-content card-content-padding">
                    <%~ staticPage.contentHTML %>
                  </div>               
                </div>
  
              <%
                  }
                }                  
              %>
  
  

              <%
              if (channelViewModel?.staticPagesViewModel?.links?.length > 0) {
              %>
                <div class="block-title block-title-medium">Links</div>
                <div class="list links-list inset">   
                  <ul>
                
                <%
                    for (let staticPage of channelViewModel.staticPagesViewModel.links) {
                %>
                      <li><a href="<%= link(`${staticPage.slug}.html`) %>"><%= staticPage.name %></a></li>
                <%
                    }
                %> 
                  </ul>
                </div>
              <%
              }
              %> 

  
              <% if (showMintPage) { %>
                <mint-info
                  baseurl="<%= baseURL %>"
                ></mint-info>
              <% } %>
  
  

              <div class="block-title block-title-medium">Links</div>

              <div class="block block-strong inset external-links">

                <% 
                  if (marketplaces?.length > 0) {
                %>
                  <p>

                    <label>Marketplaces</label>

                    <% 
                    for (let marketplace of marketplaces) { 
                    %>  
                      <a class="link external" href="<%= marketplaceLink(marketplace) %>"><%= marketplace.name %></a>    
                    <%
                    }
                    %>
                    
                  </p>
                <%
                  }
                %>

                


                <% if(channelViewModel.channel?.contractAddress || externalLinks?.length > 0) { %>

                  <p>

                    <label>Links</label>

                    <% if(channelViewModel.channel?.contractAddress) { %>
                      <a class="link external" href="https://etherscan.io/address/<%=channelViewModel.channel?.contractAddress%>">Etherscan</a>
                    <% } %>

                    <% for (let externalLink of externalLinks) { %>
                        <a class="link external" href="<%= externalLink.link %>"><%= externalLink.name %></a>
                    <% } %>

                  </p>



                <% } %>

                  <p>
                    <label>Tools</label>

                    <a href="<%= link(`large/index.html#!/admin/channel/fork-reader?title=${encodeURI(channelViewModel.channel.title)}`) %>" class="external link">
                      Fork
                    </a>

                    <a href="<%= link(`large/index.html#!/?title=${encodeURI(channelViewModel.channel.title)}`) %>" class="external link">
                      Your projects
                    </a>


                  </p>



              </div>





              <% if (channelViewModel?.channel.licenseHTML?.length > 13) { %>
  
                <div class="block-title block-title-small">License</div>
                <div class="card">
                  <div class="card-content card-content-padding license">
                    <%~ channelViewModel?.channel.licenseHTML %>
                  </div>
                </div>
  
              <% } %>

            </div>

          </div>

        </div>

      </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>
    
    <script type="module" id="page-init-scripts">

      const init = (props, { $, $f7, $h, $on, $update }) => {
              
            let transactionWebService = globalThis.container.get("TransactionWebService")
            let itemWebService = globalThis.container.get("ItemWebService")

            let baseURI = globalThis.container.get("baseURI")

            const PER_PAGE = 35


            let transactionsViewModel 
            let salesReport
            let largestSales

            let loading = true



            let firstPageExploreItems 

            const link = (href) => {
              return baseURI + href
            }   



            const loadActivity = async () => {

              loading = true

              try  {

                transactionsViewModel = await transactionWebService.getRecentActivity()

                //Last updated won't be right because this only gets written when it actually changes.
                let latest = await transactionWebService.getLatest()
                transactionsViewModel.lastUpdated = latest.lastUpdated

                await $update()

                salesReport = await transactionWebService.getSalesReport()

                await $update()

                largestSales = await transactionWebService.getLargestSales(15)

              } catch(ex) { console.log(ex) }

              $('.hidden-on-load').removeClass('hidden-on-load')

              loading = false

              await $update()


            }



            $on('pageInit', async () => {

              await loadActivity()

              $('.hide-on-pageinit').hide()


              //Make links external
              let links = document.getElementById(`channel-show-description-<%= channelViewModel.channel._id %>`).getElementsByTagName('a')

              for (let link of links) {
                link.classList.add('external')
              }

              await $update()

            })


            $on('pageBeforeOut', async () => {
            })




            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=channelViewModel.channel.title%>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`index.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`index.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=channelViewModel.channel.title%>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" )

            document.querySelector('title').innerHTML = "<%=channelViewModel.channel.title%>"

            $f7.preloader.hide()

            return $render;

          

      }


    </script>

    <script type="module" id="page-scripts">

      let baseURL = '<%= baseURL %>'
      let hostname = '<%= hostname %>'
      let channelId = '<%= channelId %>'
      let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')

      let routablePages = JSON.parse(`<%~ JSON.stringify(routablePages) %>`)

      let app = reader.initReader(baseURL, hostname, version, routablePages, channelId )

    </script>

  </body>

</html>