<!DOCTYPE html>
<html lang="en">

  <head>

    <%~ include("@headStart", {baseURL: it.baseViewModel.baseURL}) %>


    <%~ 
      include("@meta_tags", {
        pageTitle: it.baseViewModel.channelViewModel.channel.title,
        title: it.baseViewModel.channelViewModel.channel.title,
        url: 'index.html',
        imageUrl: it.baseViewModel.channelCoverImageLink(),
        descriptionHTML: it.baseViewModel.channelViewModel.channel.descriptionHTML,
        hostname: it.baseViewModel.hostname,
        baseURL: it.baseViewModel.baseURL,
        excerptHtml: it.baseViewModel.excerptHtml,
        he: it.baseViewModel.he
      }) 
    %>



    <%~ it.baseViewModel.headEndContents %>
    

  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <!--pageContent-->
        <div class="page" data-name="reader-home">

          <nav-bar
            logo="${logo}"
            library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
            large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
            title="<%=it.baseViewModel.channelViewModel.channel.title%>"
            show_mint_page="<%=it.baseViewModel.showMintPage%>"
            show_activity_page="<%=it.baseViewModel.showActivityPage%>"
            breadcrumbs="${breadcrumbs}"
          >
          </nav-bar>


          <token-toolbar
            token_id="0"
            item_count="<%= it.baseViewModel.channelViewModel.channel.itemCount %>" 
          >
          </token-toolbar>


          <div class="page-content">

            <div class="main-split">

              <div class="left">

                <div class="card channel-card-show">

                  <div class="card-header banner" id="banner" <% if(it.baseViewModel.channelViewModel?.channel.coverBannerId) { %>
                        style="background-image: url('<%= it.baseViewModel.link(`backup/generated/images/${it.baseViewModel.channelViewModel.channel.coverBannerId}.webp`) %>')"
                      <% } else { %>
                        style="background: #cccccc;"

                      <% } %>
                        >
    
                        <a href="<%= it.baseViewModel.link('index.html') %>">
                          <% if (it.baseViewModel.channelViewModel?.channel.coverImageId) { %>
                            <img src="<%= it.baseViewModel.link(`backup/generated/images/100x100/${it.baseViewModel.channelViewModel.channel.coverImageId}.webp`) %>" alt="Primary avatar" class="avatar" />
                          <% } else { %>
                            <i class="f7-icons avatar">photo</i>
                          <% } %>
                        </a>
    
                  </div>
    
                  <div class="card-content card-content-padding">
    
                    <div class="title">
                      <%= it.baseViewModel.channelViewModel.channel.title %>
                    </div>
    
                    <% if(it.baseViewModel.channelViewModel?.authorDisplayName) { %>
                      <div class="name">
                        By <%= it.baseViewModel.channelViewModel?.authorDisplayName %>
                      </div>
                    <% } %>
    
                    <div class="description" id="channel-show-description-<%=it.baseViewModel.channelViewModel.channel._id%>">
                      <%~ it.baseViewModel.channelViewModel.channel?.descriptionHTML %>
                    </div>
    
    
                    <div class="start-buttons">
                      <a href="<%= it.baseViewModel.link(`t/${it.firstPost.item.tokenId}`) %>" class="button button-fill text-color-white ready-button" data-transition="f7-cover">Browse Collection</a>
                      <a href="<%= it.baseViewModel.link(`explore.html`) %>" class="button button-outline ready-button" data-transition="f7-cover">Explore</a>

                    </div>
    
    
                  </div>
    
                </div>
    
                <div class="hidden-on-load">
    
                  <% if (it.baseViewModel.showMintPage) { %>
                    <mint-info
                      baseurl="<%= it.baseViewModel.baseURL %>"
                    ></mint-info>
                  <% } %>


                  <% if(it.baseViewModel.channelViewModel.channel?.contractAddress) { %>

                    <div class="card card-header-divider">
                      <div class="card-header">Overall Stats</div>
                      <div class="card-content card-content-padding">

                        <div class="block block-strong inset stats">
      
                          <div class="stats-row margin-bottom">
        
                            <div>
                              Number of Sales (Lifetime)
                            </div>
        
                            <div class="price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.totals?.events ? homeViewModel?.salesReport?.totals?.events : 0)}</strong>
                            </div>
                          </div>
        
                          <div class="stats-row margin-bottom">
        
                            <div>
                              Average Sale
                            </div>
        
                            <div class="price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.totals?.averageEthValue ? homeViewModel?.salesReport?.totals?.averageEthValue : 0)}</strong> ETH <span class="dollars">${transactionWebService.abbreviateDollars(homeViewModel?.salesReport?.totals?.averageUsdValue ? homeViewModel?.salesReport?.totals?.averageUsdValue : 0, 2)}</span>
                            </div>
                            
        
                          </div>
        
                          <div class="stats-row margin-bottom">
        
                            <div>
                              Total Value of All Sales (Lifetime)
                            </div>
                            
                            <div class="price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.totals?.ethValue ? homeViewModel?.salesReport?.totals?.ethValue : 0)}</strong> ETH <span class="dollars">${transactionWebService.abbreviateDollars(homeViewModel?.salesReport?.totals?.usdValue ? homeViewModel?.salesReport?.totals?.usdValue : 0, 2)}</span>
                            </div>
                          </div>
        
                          <div class="stats-row margin-bottom">
                              
                            <div>
                              Value of Sales (24 Hours)
                            </div>
        
                            <div class="price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.dayTotals?.ethValue ? homeViewModel?.salesReport?.dayTotals?.ethValue : 0)}</strong> ETH <span class="dollars">${transactionWebService.abbreviateDollars(homeViewModel?.salesReport?.dayTotals?.usdValue ? homeViewModel?.salesReport?.dayTotals?.usdValue?.toFixed(2) : 0, 2)}</span>
                            </div>
                          </div>
        
                          <div class="stats-row margin-bottom">
        
                            <div>
                              Value of Sales (Month)
                            </div>
        
                            
                            <div class="col-50 large-100 price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.monthTotals?.ethValue ? homeViewModel?.salesReport?.monthTotals?.ethValue : 0)}</strong> ETH <span class="dollars">${transactionWebService.abbreviateDollars(homeViewModel?.salesReport?.monthTotals?.usdValue ? homeViewModel?.salesReport?.monthTotals?.usdValue?.toFixed(2) : 0, 2)}</span>
                            </div>
                          </div>
        
                          <div class="stats-row margin-bottom">
                            
                            <div>
                              Value of Sales (Year)
                            </div>
        
                            <div class="price">
                              <strong>${new Intl.NumberFormat('en-US').format(homeViewModel?.salesReport?.yearTotals?.ethValue ? homeViewModel?.salesReport?.yearTotals?.ethValue : 0)}</strong> ETH <span class="dollars">${transactionWebService.abbreviateDollars(homeViewModel?.salesReport?.yearTotals?.usdValue ? homeViewModel?.salesReport?.yearTotals?.usdValue?.toFixed(2) : 0, 2)}</span>
                            </div>
                          </div>
          
        
                        </div>
        
                        <div class="block split-row-both">
                          <a class="button button-outline margin-bottom" href="${link('leaderboard')}">Top Owners</a>
                          <a class="button button-outline margin-bottom" href="${link('attributes')}">All Attributes</a>
                        </div>

                      </div>
                    </div>

                  <% } %>
  
  
                  
  
  
  
                  ${homeViewModel?.largestSales && homeViewModel.largestSales?.sales?.length > 0 ? $h`

                    <div class="card card-header-divider data-table">
                      <div class="card-header">Largest Sales</div>
                      <div class="card-content card-content-padding">
                        <largest-sales largest_sales="${homeViewModel?.largestSales}"></largest-sales>
                      </div>
                    </div>
  
  
                    <div class="block save-row">
                      <div class="large-only"></div>
                      <a href="${link('sales')}" class="button button-fill">View Top 100</a>
                    </div>
  
                  ` : $h` `}
  
  
                  ${homeViewModel?.recent?.transactions?.length > 0 ? $h`
    
                    <transaction-row transactions="${homeViewModel.recent}" items="${homeViewModel?.recent.rowItemViewModels}">

                      <div class="card-header">
                        Recent Activity
                        <div class="last-updated">Updated: ${dayjs(homeViewModel?.recent.lastUpdated).fromNow()}</div>
                      </div>

                    </transaction-row>
  
                    <div class="block save-row">
                      <div class="large-only"></div>
                      <a href="${link('activity')}" class="button button-fill">View All</a>
                    </div>
              
                  ` : $h`<span />`}
    
    
                </div>
                
               
  
                <% 
                  if (it.baseViewModel.channelViewModel.staticPagesViewModel.index?.length > 0) {
    
                    for (let staticPage of it.baseViewModel.channelViewModel.staticPagesViewModel.index) {
                 %>
    
                  <div class="card static-page-card">   
                    <div class="card-content card-content-padding">
                      <%~ staticPage.contentHTML %>
                    </div>               
                  </div>
    
                <%
                    }
                  }                  
                %>
    
    
  
  
                <% if (it.baseViewModel.channelViewModel?.channel.licenseHTML?.length > 13) { %>
    
                  <div class="card">
                    <div class="card-content card-content-padding license">
                      <%~ it.baseViewModel.channelViewModel?.channel.licenseHTML %>
                    </div>
                  </div>
    
                <% } %>
  

              </div>

              <div class="right">

                <div class="hidden-on-load">
      
                  <% if(it.baseViewModel.channelViewModel.channel?.contractAddress) { %>

                    <div class="card card-header-divider">
                      <div class="card-header">Links</div>
                      <div class="card-content card-content-padding">
                        <div class="list">
                          <ul>
              
                            <% if(it.baseViewModel.channelViewModel.channel?.contractAddress) { %>
      
                              <li>
                                <div class="item-content">
                                  <div class="item-inner">
                                    <div class="item-title">
                                      <a class="link external" href="https://etherscan.io/address/<%=it.baseViewModel.channelViewModel.channel?.contractAddress%>">Etherscan</a>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            <% } %>
        
                            <% for (let externalLink of it.baseViewModel.externalLinks) { %>
      
                              <li>
                                <div class="item-content">
                                  <div class="item-inner">
                                    <div class="item-title">
                                      <a class="link external" href="<%= externalLink.link %>"><%= externalLink.name %></a>
                                    </div>
                                  </div>
                                </div>
                              </li>
      
                            <% } %>
    
    
                            <%
                            if (it.baseViewModel.channelViewModel?.staticPagesViewModel?.links?.length > 0) {
                            %>
                              
                              <%
                                  for (let staticPage of it.baseViewModel.channelViewModel.staticPagesViewModel.links) {
                              %>
        
                                    <li>
                                      <div class="item-content">
                                        <div class="item-inner">
                                          <div class="item-title">
                                            <a class="link" href="<%= it.baseViewModel.link(`s/${staticPage.slug}.html`) %>"><%= staticPage.name %></a>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
        
                              <%
                                  }
                              %> 
        
                            <%
                            }
                            %> 
      
                          </ul>
                        </div>
                      </div>
                    </div>

                  <% } %>


                  <% 
                    if (it.baseViewModel.marketplaces?.length > 0) {
                  %>

                    <div class="card card-header-divider">
                      <div class="card-header">Marketplaces</div>
                      <div class="card-content card-content-padding">
                        <div class="list">           
                          <ul>
                              <% 
                              for (let marketplace of it.baseViewModel.marketplaces) { 
                              %>  
        
                                <li>
                                  <div class="item-content">
                                    <div class="item-inner">
                                      <div class="item-title">
                                        <a class="link external" href="<%= it.baseViewModel.marketplaceLink(marketplace) %>"><%= marketplace.name %></a>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              <%
                              }
                              %>
                          </ul>
                        </div>
                      </div>
                    </div>

                  <% } %>
  
                </div>

              </div>

              <div class="left">
                <%~ include("@footer", {baseURL: it.baseViewModel.baseURL}) %>
              </div>

            </div>


          </div>

        </div>
        <!--/pageContent-->

      </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>
    
    <script type="module" id="page-init-scripts">

      //pageInitScripts

      const init = (props, { $, $f7, $h, $on, $update }) => {

          let channelWebService = globalThis.container.get("ChannelWebService")

          let baseURI = globalThis.container.get("baseURI")
          let hostname = globalThis.container.get("hostname")

          let transactionWebService = globalThis.container.get("TransactionWebService")
          let itemWebService = globalThis.container.get("ItemWebService")
          let tokenOwnerPageService = globalThis.container.get("TokenOwnerPageService")
          let readerSettingsService = globalThis.container.get("ReaderSettingsService")

          let walletService = globalThis.container.get("WalletService")
          let mintWebService = globalThis.container.get("MintWebService")

          let breadcrumbs

          let logo = JSON.parse(`<%~ JSON.stringify(it.baseViewModel.logo ? it.baseViewModel.logo : {})  %>`)

          const PER_PAGE = 35

          let homeViewModel
          let mintingViewModel 

          let loading = true

          let firstPageExploreItems 

          const link = (href) => {
            return baseURI() + href
          }   

          const loadActivity = async () => {

            loading = true

            try  {

              homeViewModel = await transactionWebService.getHomeViewModel()

              //Last updated won't be right because this only gets written when it actually changes.
              let latest = await transactionWebService.getLatest()
              
              if (homeViewModel?.largestSales) {
                homeViewModel.largestSales.lastUpdated = latest?.lastUpdated
              }
  
              await $update()

            } catch(ex) { console.log(ex) }

            $('.hidden-on-load').removeClass('hidden-on-load')

            loading = false

            await $update()


          }

          const loadMintingViewModel = async () => {
      
            try  {

              if (!walletService.provider) {
                await walletService.initProvider()
              }

              //Might still not have a provider. 
              if (walletService.provider) {
                hasProvider = true
                mintingViewModel = await mintWebService.getHomeMintingViewModel()
              } 

            } catch(ex) {
              console.log(ex)
            }
            
            $f7.emit('minting-view-model-updated', mintingViewModel)


          }

          $on('pageInit', async () => {

            console.log("Loading channel")
            await channelWebService.loadChannel(
                    "<%= it.baseViewModel.channelViewModel.channel._id %>",
                    '<%= it.baseViewModel.baseURL %>',
                    '<%= it.baseViewModel.hostname %>'
            )

            let readerSettings = await readerSettingsService.get()
            $f7.emit('current-page-updated', readerSettings.currentPage)

            
            <% if (it.baseViewModel.showMintPage) { %>
              console.log("Loading mint view model")
              await loadMintingViewModel()
              await $update()
            <% } %>

            console.log("Loading activity")
            await loadActivity()
            $update()

            //Set empty alt for any decorative image tags that are missing it. 
            $("img:not([alt])").attr("alt", "")
          })

          $on('pageBeforeOut', async () => {
          })

          <%~ 
            include("@meta_tags_js", {
              title: it.baseViewModel.channelViewModel.channel.title,
              url: 'index.html',
              imageUrl: it.baseViewModel.channelCoverImageLink(),
              descriptionHTML: it.baseViewModel.channelViewModel.channel.descriptionHTML,
              hostname: it.baseViewModel.hostname,
              baseURL: it.baseViewModel.baseURL,
              excerptHtml: it.baseViewModel.excerptHtml,
              he: it.baseViewModel.he
            }) 
          %>

          document.querySelector('title').innerHTML = "<%=it.baseViewModel.channelViewModel.channel.title%>"

          $f7.preloader.hide()

          return $render

          

      }

      ///pageInitScripts

    </script>

    <%~ 
      include("@init", {
        hostname: it.baseViewModel.hostname,
        baseURL: it.baseViewModel.baseURL,
        libraryURL: it.baseViewModel.libraryURL,
        routablePages: it.baseViewModel.routablePages,
        base64Version: it.baseViewModel.base64Version,
        channelId: it.baseViewModel.channelId
      }) 
    %>



  </body>

</html>