<!DOCTYPE html>
<html lang="en">

  <head>

    <%~ include("@headStart", {baseURL: it.baseViewModel.baseURL}) %>


    <%~ 
      include("@meta_tags", {
        pageTitle: "Search",
        title: it.baseViewModel.channelViewModel.channel.title,
        url: 'search.html',
        imageUrl: it.baseViewModel.channelCoverImageLink(),
        descriptionHTML: `Search '${it.baseViewModel.channelViewModel.channel.title}' NFTs`,
        hostname: it.baseViewModel.hostname,
        baseURL: it.baseViewModel.baseURL,
        excerptHtml: it.baseViewModel.excerptHtml,
        he: it.baseViewModel.he
      }) 
    %>


    <%~ it.baseViewModel.headEndContents %>

    
  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <div class="page" data-name="mint">

          <nav-bar
              logo="${logo}"
              library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
              large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
              title="Search"
              show_mint_page="<%=it.baseViewModel.showMintPage%>"
              show_activity_page="<%=it.baseViewModel.showActivityPage%>"
              breadcrumbs="${breadcrumbs}"
              base_uri="${baseURI}"
              hostname="${hostname}"
          >
          </nav-bar>

          <div class="page-content">

            <div class="row">

              <div class="col-100 large-66 center">

                <search-list></search-list>

              </div>

              <%~ include("@footer", {baseURL: it.baseViewModel.baseURL}) %>

            </div>

          </div>

        </div>

      </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>
    
    <script type="module" id="page-init-scripts">

      //pageInitScripts

      const init = (props, { $, $f7, $h, $on, $update }) => {   

        let channelWebService = globalThis.container.get("ChannelWebService")
        let baseURI = globalThis.container.get("baseURI")
        let hostname = globalThis.container.get("hostname")



        let itemWebService = globalThis.container.get("ItemWebService")

        let logo = JSON.parse(`<%~ JSON.stringify(it.baseViewModel.logo ? it.baseViewModel.logo : {})  %>`)

        let searching = false

        let results = []

        let breadcrumbs = [{
                text: JSON.parse(`<%~ JSON.stringify(it.baseViewModel.channelViewModel.channel.symbol)  %>`),
                path: "index.html"
            }, {
                text: "Search"
        }]

        $on('pageInit', async () => {


          await channelWebService.loadChannel(
              "<%= it.baseViewModel.channelViewModel.channel._id %>",
              '<%= it.baseViewModel.baseURL %>',
              '<%= it.baseViewModel.hostname %>'
          )

          await $update()


          // const params = new Proxy(new URLSearchParams(window.location.search), {
          //   get: (searchParams, prop) => searchParams.get(prop),
          // })

          // $f7.preloader.showIn('.cards-list')
          
          // searching = true
          // $update()

          // results = await itemWebService.query(params.query)

          // searching = false
          // $update()

          // $f7.preloader.hideIn('.cards-list')

        })

        $on('pageBeforeOut', async () => {
        })

        const searchbarSubmit = (e) => {
          e.preventDefault()
        }


        <%~ 
          include("@meta_tags_js", {
            title: it.baseViewModel.channelViewModel.channel.title,
            url: 'search.html',
            imageUrl: it.baseViewModel.channelCoverImageLink(),
            descriptionHTML: `Search '${it.baseViewModel.channelViewModel.channel.title}' NFTs`,
            hostname: it.baseViewModel.hostname,
            baseURL: it.baseViewModel.baseURL,
            excerptHtml: it.baseViewModel.excerptHtml,
            he: it.baseViewModel.he
          }) 
        %>

        document.querySelector('title').innerHTML = "Search '<%=it.baseViewModel.channelViewModel.channel.title%>' NFTs."

        $f7.preloader.hide()
    

        return $render


      }

      ///pageInitScripts

    </script>

    <%~ 
      include("@init", {
        hostname: it.baseViewModel.hostname,
        baseURL: it.baseViewModel.baseURL,
        libraryURL: it.baseViewModel.libraryURL,
        routablePages: it.baseViewModel.routablePages,
        base64Version: it.baseViewModel.base64Version,
        channelId: it.baseViewModel.channelId
      }) 
    %>

  </body>

</html>